

.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
    padding: 20px;
}

.property-card {
  background-color: #1a131f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px;
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

.property-card:hover {
  transform: scale(1.05);
}

.property-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-details {
  padding: 15px;
}

.property-details h3 {
  margin: 0 0 10px;
}

.property-details p {
  margin: 5px 0;
}
