.pd{
    background: rgba(3, 11, 14, 0.45);
    width: 65%;
    height: 75%;
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.pt{
    grid-area: 1/1/2/3;
    height: 3rem;
    color: #f19000;
    font-style: italic;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0.6rem;
    padding-left: 3rem;
}
.pc{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-content: start;
}
.pdin {
    grid-area: 1/1/2/2;
    padding: 1rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.imgbox {
    height: 19rem;
    overflow: hidden;
    border-radius: 10px;
}
.imgbox img{
    width: 100%;
    height: 100%;
}
.pddes {
    background: rgba(120, 121, 121, 0.68);
    color: #fff;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 250px;
}

.pddestitle{
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.5rem;
    color: greenyellow;
}

.pddestitle i {
    font-size: 0.8rem;
    color: #cecece;
}

.pddessin {
    display: flex;
    justify-content: space-around;
}
.pddessin span,
.pddessin li{
    font-size: 1.2rem;
}
.pddessin li{
    font-weight: 500;
}
.pddessin li i{
    color: greenyellow;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;

}
.pdesdes{
    display: grid;
    place-content: start;
    grid-gap: 0.3rem;
}
.pddesst {
    text-decoration: underline ;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.5rem;
}
.pddescsin {
    padding-left: 2rem;
    overflow: hidden;
    width: 96%;
    
}
.pddescsin li{
    font-size: 1rem ;
    text-wrap: wrap;

}



.pdactions {
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.actionsbtn{
    background: transparent;
    outline: none;
    color: #fff;
    font-weight: 700;
    padding: 0.5em 1.4em;
    border-radius: 0.9rem;
    border: 1px solid #fff;
    transition: all .6s ease;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdactions button{
    padding: 0.9em 1.4em;

}

.actionsbtn:hover{
    transform: translateX(5px);
    background: #f6136a;
    color: #fff;
    border: none;
}

.pr{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 0.5rem;
    padding: 0.5rem 1.9rem;
    overflow: hidden;
}

.prall {
    border: solid 2px #9c9c9c;
    border-radius: 11px;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr ;
    display: grid;
    overflow: hidden;
}

.prtitile{
    width: 100%;
    background: hsl(0, 1.90%, 41.60%);
    color: #fff;
    padding: 0.7rem 0.9rem;
    font-weight: 800;
    font-size: 1.3rem;
}

.prreviews{
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    place-content: start;
    padding: 0.5rem;
    grid-gap: 0.6rem;
}
.rediv{
    display: grid;
    padding: 0.4rem 0.6rem;
    background: rgb(62, 22, 79);
    color: #fff;;
    border-radius: 9px;
    grid-gap: 0.5rem;
}
.combined {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 700;
}
.reuser {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.reuser img{
    width: 100%;
    height: 100%;
    transform: scale(1.4);
}

.redesc {
    padding-left: 0.6rem;
    color: #eceaea;
}
.prform {
    background: rgba(120, 121, 121, 0.68);
    border: solid 2px #9c9c9c;
    border-radius: 11px;
    padding: 1rem 0;
    display: grid;
    grid-gap: 0.5rem;
    place-items: center;
}

.prform span{
    place-self: start;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    padding-left: 1rem;
}

.prform textarea{
    width: 90%;
    height: 6rem;
    resize: none;
    padding: 0.8rem;
    font-size: 0.9rem;
    border: none;
    outline: none;
    border-radius: 11px;
    background: #292727;
    color: #fff;
}

.prform textarea::placeholder{
    color: #c1baba;
}